<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="shortcut icon" href="#" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="./index.js" defer></script>
    <title>Cart</title>
  </head>
  <body>
    
    <h1>Carrito</h1>
    <div class="bg-dark text-light container">
      <div class="row border-bottom">
        <div class="col-4 p-4 fw-bold">Nombre</div>
        <div class="col-4 p-4 fw-bold">Precio</div>
        <div class="col-4 p-4 fw-bold">Cantidad</div>
      </div>
      <% cartArr.forEach(function(cartItem) { %>
      <div class="row border-bottom">
        <div class="col-4 p-4"><%= cartItem.product.name %></div>
        <div class="col-4 p-4"><%= cartItem.product.price %></div>
        <div class="col-4 p-4"><%= cartItem.quantity %></div>
        <button
            class="btn btn-success my-3 borrar"
            id=<%= cartItem.id %>
            
          >
         Remover del carrito
        </button>
      </div>
      <% }) %>
    </div>
    <button class="btn btn-success my-3 comprar">Comprar</button>
    <a href="/" class="btn btn-primary">Volver a inicio</a>
  </body>
</html>
<script>
  const deleteBtn = document.querySelectorAll('.borrar')
  deleteBtn.forEach(delBtn=>{
    delBtn.addEventListener('click', async ()=>{
      const id = delBtn.id
      const res = await fetch('http://localhost:8080/api/carrito/' + id, {
        method : 'DELETE'
      })
      if(res.redirected){
        window.location.href = res.url
      }
    })
  })
  const buyBtn = document.querySelector('.comprar')
  buyBtn.addEventListener('click', async ()=>{
    const res = await fetch('http://localhost:8080/order', {
      method : 'POST'
    })
    if(res.redirected){
        window.location.href = res.url
      }
  })
  
</script>